
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #595182;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
}
.logo-site{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #d87093;
    margin-left: 20px;
    border: solid 0px palevioletred;
    border-radius: 100%;
    object-fit: contain;
    overflow: hidden;
}
.logo-site img{
    object-fit: contain;
    overflow: hidden;
}
.title{
    color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    margin-left: 10px;
}
.main-page{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wallpaper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    overflow: hidden;
    width: 90%;
    /*background-color: #6f27b6;*/
}
.wallpaper img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.slogan{
    margin-bottom: 5px;
    padding: 2px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow:
    0px 0px 0px #000,
    0px 3px 2px #000,
    -3px 3px 0 #6f138b,
    0px -0px 0 #6f138b;
    border-radius: 10px;
}

.leagues-teams{
    color: #ffffff;
    font-weight: 700;
    font-size: larger;
    margin-top: 20px;
    height: 200px;
    width: 70%;
    background-color: #595182;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
}
.leagues{
    background-color:#70689d;
    height: 100%;
    border: solid 0px #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leagues:hover{
    box-shadow: 5px 2.5px 5px 2.5px rgb(170, 136, 209);
}
.leagues-logo{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leagues-logo img{
    object-fit: contain;
    overflow: hidden;
    height: 120px;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
}
.teams{
    background-color:#70689d;
    height: 100%;
    border: solid 0px #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teams:hover{
    box-shadow: 5px 2.5px 5px 2.5px rgb(170, 136, 209);
}
@media (max-width: 800px) {
    .slogan{
        font-size: 10px;
    }
    .leagues-logo{
        display: flex;
        flex-direction: column;
    }
    .leagues-logo img{
        object-fit: contain;
        overflow: hidden;
        height: 70px;
        width: 70px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .teams-logo img{
        object-fit: contain;
        overflow: hidden;
        max-height: 50px;
        max-width: 50px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .teams-logo{
        display: flex;
        flex-direction: column;
    }
    .leagues{
        width: 90%;
    }
    .teams {
      width: 90%; /* Larghezza più stretta per smartphone */
      padding-top: 20px;
      margin-top: 20px;
    }
}
.teams-logo{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teams-logo img{
    object-fit: contain;
    overflow: hidden;
    height: 120px;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
}