:root{
    --white-color: #f5f5f5;
    --first-color: #1a3550;
    --second-color:#675F8E;
    --third-color:#B7A0B3;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--first-color);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    padding-bottom: 10px;
    background-color: var(--white-color);
    border-bottom: 0px solid var(--first-color);
}
.logo-site{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: var(--third-color);
    margin-left: 20px;
    border: solid 0px var(--third-color);
    border-radius: 100%;
    object-fit: contain;
    overflow: hidden;
}
.logo-site img{
    object-fit: contain;
    overflow: hidden;
}
.title{
    color: var(--first-color);
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    margin-left: 10px;
}
.main-page{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.league-header{
    padding: 5px;
    margin-top: 50px;
    color: var(--white-color);
    background: linear-gradient(to right, var(--first-color), var(--second-color), var(--third-color));
    width: 80%;
    border-radius: 10px;
    display: flex;

}
.league-header img{
    height: 120px;
    width: 100px;
    padding: 10px;
    margin-right: 10px;
}
.league-header-info{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.league-header-country{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.league-header-country img{
    margin: 7px;
    height: 30px;
    width: 30px;
}
.league-descr{
    margin-top: 20px;
    margin-left: 80px;
    width: 45%;
}
.league-info{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 30px;
}
a{
    font-style: normal;
    text-decoration-line: none;
    color: var(--white-color);
}
.league-section{
    color: var(--first-color);
    font-weight: 700;
    font-size: larger;
    margin-top: 30px;
    width: 80%;
    margin-bottom: 50px;
}
.leagues{
    height: 150px;
    background-color: var(--white-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
    margin-top: 10px;
    padding: 10px;
    overflow-x: auto;
}
.league{
    background-color:var(--second-color);
    height: 100%;
    border: solid 0px #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.league:hover{
    box-shadow: 1px 1px 2px 2px var(--first-color);
}
.leagues-logo{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leagues-logo img{
    object-fit: contain;
    overflow: hidden;
    height: 120px;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1500px) {
    .wallpaper{
        flex-direction: column;
    }
    .wallpaper img{
        width: 700px;
        height: 300px;  
    }
    .slogan{
        font-size: 24px;
    }
    .league-section{
        font-size: 15px;
    }
    .leagues-logo{
        display: flex;
        flex-direction: column;
    }
    .leagues-logo img{
        object-fit: contain;
        overflow: hidden;
        height: 70px;
        width: 70px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .leagues{
        width: 90%;
        gap: 20px;
    }
    .league{
        padding: 0px;
        height: 100px;
    }
}
@media (max-width: 1000px){
    .league-header{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        text-align: justify;
    }
    .league-header-info{
        align-items: center;
    }
    .league-descr{
        width: 90%;
        margin-top: 0px;
        margin-left: 0px;
    }
    .league-info{
        text-align: center;
        margin-top: 20px;
        margin-left: 0px;
    }
}