:root{
    --white-color: #f5f5f5;
    --first-color: #1a3550;
    --second-color:#675F8E;
    --third-color:#B7A0B3;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: var(--second-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white-color);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    padding-bottom: 10px;
    background-color: var(--white-color);
    border-bottom: 0px solid var(--first-color);
}
header a{
    color: var(--first-color);
}
.logo-site{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: var(--third-color);
    margin-left: 20px;
    border: solid 0px var(--third-color);
    border-radius: 100%;
    object-fit: contain;
    overflow: hidden;
}
.logo-site img{
    object-fit: contain;
    overflow: hidden;
}
.title{
    color: var(--first-color);
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    margin-left: 10px;
}
.main-page{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.team-header{
    padding: 5px;
    margin-top: 50px;
    background-color: var(--first-color);
    width: 80%;
    border-radius: 20px;
    display: flex;

}
.team-header img{
    height: 120px;
    width: 120px;
}
.team-header-info{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.team-header-country{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.team-header-country img{
    margin: 7px;
    height: 30px;
    width: 30px;
}
.team-descr{
    margin-top: 20px;
    margin-left: 80px;
    width: 45%;
}
.team-info{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 30px;
}
a{
    font-style: normal;
    text-decoration-line: none;
    color: var(--white-color);
}
.squad-list{
    padding: 10px;
    margin-top: 50px;
    background-color: var(--first-color);
    width: 80%;
    height: max-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.squad-member{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 98%;
    border-bottom: solid 2px var(--third-color);
    border-radius: 2px;
    flex-wrap: wrap;
}
.squad-member img{
    height: 70px;
    width: 70px;
    border: solid 3px var(--third-color);
    border-radius: 100%;
    object-fit: cover;
}
.squad-member-left{
    display: flex;
    flex-direction: row;
}
.squad-member-left-info{
    margin-left: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.squad-member-left-info #name{
    font-size: 20px;
    font-weight: 700;
}
.squad-member-left-info #role{
    font-size: 18px;
    margin-top: 5px;
}
.squad-member-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
.squad-member-right #jersey-number{
    font-size: 25px;
    font-weight: 700;
    margin-right: 20px;
}
.squad-member-right img{
    height: 50px;
    width: 50px;
}

@media (max-width: 1000px){
    .team-header{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        text-align: justify;
    }
    .team-header-info{
        align-items: center;
    }
    .team-descr{
        width: 90%;
        margin-top: 0px;
        margin-left: 0px;
    }
    .team-info{
        text-align: center;
        margin-top: 20px;
        margin-left: 0px;
    }
    .squad-list{
        width: 90%;
    }
    .squad-member-right img{
        height: 100%;
        width: 100%;
        border-radius: 100%;
    }
    .squad-member-left img{
        width: 50px;
        height: 50px;
    }
    .squad-member-left-info #name{
        font-size: 15px;
        text-wrap: wrap;
        margin-left: 8px;
    }
    .squad-member-left-info #role{
        font-size: 15px;
        margin-left: 10px;
    }
    .squad-member-left-info{
        margin-left: 5px;
    }
    .squad-member-right{
        padding: 0px;
    }
    .squad-member-right img{
        width: 25px;
        height: 25px;
    }
    .squad-member-right #jersey-number{
        font-size: 15px;
        margin-right: 10px;
    }
}
@media (max-width: 400px){
    .squad-member-left-info #name{
        font-size: 12px;
    }
    .squad-member-left-info #role{
        font-size: 12px;
    }
}